.feed-container{
    height:100vh;
    width: 100vw;
    /* border: 1px solid black; removed because of a double border*/
    overflow-y: scroll;
    position:fixed;
    /* FireFox and Edge Hide Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed-container::-webkit-scrollbar {
    display: none;
  }

.contents-container{
    position: relative;
    width:45vw;
    left: 33%;
}


.communities-container {
    margin-left: 180px; /* Same as the width of the sidebar */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    max-width: 60vw;
    position: relative;
    left: 14rem;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 30%;
    padding: 30px 20px;
    }
    
    /* Remove extra left and right margins, due to padding */
    .row {margin: 0 -115px;}
    
    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    
    /* Style the counter cards */
    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    }

.video-react{
    padding-top: 0 !important;
 
}

.video-react-fullscreen{
    cursor: pointer;
    position: static;
    width: 100vw !important;
    height: 100vh !important;
    padding-top: 0 !important;
    top:0;
    left:0;
}
/* like button 1*/
 .likeButton:hover {
        color: red;
     }
.likeButton{
    width: 5%;
}
.totalLikes {
    color: black;
    font-size: 13px;
    width: 8%;
    font-weight: bold;
  }

/*like button 2*/          
.likeButtonn:hover {
    color: red;
 }
.likeButtonn{
width: 5%;

}
.totalLikess {
color: black;
font-size: 13px;
width: 8%;
font-weight: bold;
}

/*like button 3*/
.likeButtonnn:hover {
    color: red;
 }
.likeButtonnn{
width: 5%;

}
.totalLikesss {
color: black;
font-size: 13px;
width: 8%;
font-weight: bold;
}

/*like button 4*/
.likeButtonnnn:hover {
    color: red;
 }
.likeButtonnnn{
width: 5%;
}
button.liked {
    background-color: white;
    color: red;
  }
.totalLikessss {
color: black;
font-size: 13px;
width: 8%;
font-weight: bold;
}


      