* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style page content */
.main {
  margin-left: 180px; /* Same as the width of the sidebar */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Float four columns side by side */
.column {
float: left;
width: 25%;
padding: 20px 20px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
padding: 16px;
text-align: center;
background-color: #f1f1f1;
}

/*Style and shape for Trending box*/
.div1 {
  width: 700px;
  height: 400px;
  margin-left: 15px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Popular Communities Side bar*/
.sidenav {
  width: 250px;
  position: fixed;
  bottom: 270px;
  right: 30px;
  background: #eee;
  overflow-x: hidden;
  padding: 30px 0;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 30px;
  font-weight: bold;
}

.sidenav a {
  padding: 10px 8px 8px 10px;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  color: #2196F3;
  display: block;
  line-height: 40px;
}

.sidenav a:hover {
  color: #064579;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: grid;
  position: relative;
  left: 1475px;
  bottom: 290px;
  margin-top: 25px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 19px;}
}

/*
.responsive {
  width: 100%;
  height: auto;
}*/

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
}

/* On smaller screens, where height is less than 450px, 
change the style of the sidenav (less padding and a smaller font size) 
@media screen and (max-height: 450px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 18px;}
}
<<<<<<< HEAD
*/
=======

/*FEMIS CODE*/
.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  bottom: 100px;
  right: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 50px 0;
  box-shadow: 9px 9px 8px 5px rgba(0, 0, 0, 0.2);
}

.sidenav a {
  padding: 8px 8px 8px 50px;
  text-decoration: none;
  font-size: 19px;
  color: #2196F3;
  display: block;
  line-height: 30px;
}

.sidenav a:hover {
  color: #064579;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 19px;}
}
>>>>>>> origin/femi

