.header {
  background-color: #f7f4f4;
  text-align: left;
  background: #FFFFFF;
  position:fixed;
  margin-left: 12rem;
  width:100vw;
  border-bottom: 1px solid black;
}
  
/* Style the header links*/  
.header a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-left: 6rem;
}
.header-right {
  position: relative;
  margin-left: 5%;
  width:70rem;
}

/* Style for the welcome message */
.header a.welcome {
  font-size: 35px;
  font-weight: bold;
  margin-left: 2%; 
  float: left;
}


.search-container {
  width: 50rem; 
  padding: 12px 12px; 
  display: inline-block; 
  margin: 8px 0;
  border: 1px solid black; 
  box-sizing: border-box;
  font-size: smaller; 
  border-radius: 10px;
}

/* Profile name and icon */
.random-user {
	width: 111px;
	height: 28px;
	color: #444444;
	font-weight: 500;
	font-size: 16px;
  float: right;
  margin-right: 200px;
  margin-top: 20px;
}
/*
.keyboard-arrow-down-icon-2 {
	width: 20px;
	height: 20px;
	background: #AAAAAA;
}*/

#searchButton:hover {
  background-color: lightgrey;
}

/* Magnifying Glass Icon */
.search-icon {
  content: "\1F50D"; /* Unicode character for a magnifying glass */
  font-size: 18px;
  margin-right: 5px;
}

.login-state-container{
  position:absolute;
  right:0;
  margin-top: 4px;
}