.welcome {
  font-size: 20px;
  font-weight: bold;
  margin-left: 198px; 
  margin-top: -265px;
  float: left;
  font-style: italic;
}

/* Style the settings message for the settings Bar */
.header a.settings {
  font-size: 35px;
  font-weight: bold;
  margin-left: 100px; 
  float: left; 
}
  
/* Style the "active" element to highlight the current page*/
.header a.active {
  background-color: lightgrey;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}


/* Profile name and icon */
.random-user {
	width: 111px;
	height: 28px;
	color: #444444;
	font-weight: 500;
	font-size: 16px;
  float: right;
  margin-right: 200px;
  margin-top: -265px;
}
/*
.keyboard-arrow-down-icon-2 {
	width: 20px;
	height: 20px;
	background: #AAAAAA;
}*/


.images {
	width: 47px;
	height: 47px;
	background: #00000000;
}
/* Style for the profile icon container */
.profile-container {
  width: 25px; /* Adjust the size according to your design */
  height: 25px; /* Adjust the size according to your design */
  border-radius: 30%;
  overflow: hidden;
  float: inline-end;
  border:4px solid #fff; /* Adjust the color as needed */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Adjust the shadow as needed */
  margin-top: -267px;
  margin-right: 14%;
}

/* Style for the profile picture */
.profile-picture {
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
}

/* Style for the notification icon container */
.notification-container {
  background-color: white; 
  display: flex;
  float: inline-end;
  margin-right: 10%;
  margin-top: -167px;
}
/* Style for the notification icon */
.notification-icon {
  color: #fff; /* Adjust the color of the icon */
  font-size: 18px; /* Adjust the size of the icon */
  margin-top: -100px;
}

.topbar {
  height: 50px; /* Adjust height as needed */
}

