* {box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css?family=Calistoga&family=Courier+Prime');

/* Apply settings to the entire website using CSS variables */
:root {
	--contrast: 100%;
	--brightness: 50%;
	--font: 'Arial, sans-serif';
	--fontSize: 16px;
  }

body {
    filter: invert(0%) contrast(100%) brightness(100%);
  	font-family: var(--font);
  	font-size: var(--fontSize);
	background: white;
}

/* Form Box */
.form {
	display: inline-table;
	justify-content: space-between;
	margin-top: 150px;
}
.privacy-settings {
	display: inline-block;
	margin-top: 10%;
}

.appearance-settings {
	display: inline-block;
	margin-top: 150px;
	padding-bottom: 150px;
}

/* Form heading */
.formHeading {
	width: 186px;
	height: 28px;
	color: #202123;
	float: top;
	font-weight: 600;
	font-size: 22px;
	line-height: 1.3;
	text-align: left;
    float:left;
    margin-top: 5%;
  	text-wrap: nowrap;
}

/* Edit/Save Button */
.editButton {
	width: 90px;
	height: 40px;
	padding: 8px 20px 8px 8px;
	background: #202123;
	color: #FFFFFF;
	border-color: #202123;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
    float: inline-end;
    margin-top: 5%;
    margin-right: 5%;
}

.edit-button {
	width: 90px;
	height: 40px;
	padding: 8px 8px 8px 8px;
	color: #FFFFFF;
	background: black;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
    float: inline-end;
    margin-top: 5%;
    margin-right: 10%;
}

.save-button {
	width: 90px;
	height: 40px;
	padding: 8px 8px 8px 8px;
	color: #FFFFFF;
	background: rgb(3, 3, 175);
	font-weight: 600;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
    float: inline-end;
    margin-top: 5%;
    margin-right: 10%;
}

/* Spacing for notification and advanced menu */
.option-headingNotifications {
	padding-bottom: 20px;
	margin-top: -50px;
	margin-bottom: -10px;
	font-weight: bold;
}

.option-heading {
	padding-bottom: 20px;
	margin-bottom: -10px;
	font-weight: bold;
}

/* Formatting for label */
label {
    display: block;
	padding-right: 8px;
    margin-bottom: 8px;
    line-height: 1;
	padding-top: 10px;
	font-weight: 600;
	font-size: large;
}

.notification-label {
	display: block;
	padding-right: 8px;
	margin-bottom: 8px;
	line-height: 1;
	font-size: medium;
	font-weight: 400;
}

.email-label {
	padding-bottom: 9px;
}

/* Change password label formatting */
.pass-label{
	font-size: 16px;
}

.passwordHeading {
	width: 186px;
	height: 28px;
	color: #202123;
	font-weight: 500;
	font-size: 20px;
	margin-left: -25%;
}

input[type="text"], input[type="email"] {
    width: 75%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 16px;
}

/* 2 factor authentication button */
.button-2fa{
    width: 150px;
	height: 40x;
	padding: 8px 16px 8px 16px;
	background: #202123;
	color: #FFFFFF;
	border-color: #202123;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
    margin-top: -80px;
	margin-left: 25%;
}
 
/* Format change password button */
.button-chgPsw {
	width: 200px;
	height: 40x;
	padding: 8px 16px 8px 16px;
	background: #202123;
	color: #FFFFFF;
	border-color: #202123;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
    margin-top: 20px;
}

/* Outlines box blue to show where cursor is*/
input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Information container */
.infoContainer {
	width: 500px;
	margin-left: 0;
	margin-top: 75px;
	padding-bottom: 100px;
}

/* Spacing for standard menu spacing */
.option-main{
	margin-bottom: 30px;
	margin-left: 30%;
  }

.option-a {
	margin-left: 30px;
	margin-bottom: -25px;
}

.option-b {
	margin-left: 30px;
	margin-bottom: 20px;
}

/* Hide the checkbox input */
.checkbox-input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
  }

/* Main toggle switch postion */
.toggle-switch-main {
	position: relative;
	left: 21.7em;
	bottom: 1.5em;
	display: inline-block;
	width: 49px;
	height: 20px;
	border-color: rgb(129, 128, 128);
    border-style: solid;
    border-width: 2px;
	border-radius: 30px 30px 30px 30px;
  }

/* Submenu toggle switch position */
.toggle-switch-sub {
	position: relative;
	left: 20em;
	bottom: 1.5em;
	display: inline-block;
	width: 49px;
	height: 20px;
	border-color: rgb(129, 128, 128);
    border-style: solid;
    border-width: 2px;
	border-radius: 30px 30px 30px 30px;
}
  
.toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* Format slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(243, 240, 240);
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}
  
/* Inside slider cirlce */
.slider:before {
	position: absolute;
	content: "";
	height: 10px;
	width: 10px;
	left: 4px;
	top: 3px;
	background-color: rgb(245, 238, 238);
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}

.slider:after {
	position: absolute;
	content: "";
	height: 10px;
	width: 10px;
	left: 4px;
	top: 3px;
	background-color: rgb(10, 10, 10);
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

input:checked + .slider:after {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	background-color: white;
}

input:checked + .slider {
	background-color: #414241;
}
  
input:focus + .slider {
	box-shadow: 0 0 1px #6d6c6c;
}

/*** Appearance settings ***/
.appearance {
	margin-bottom: 30px;
	margin-left: 30px;
}

.font-menu {
	padding-bottom: 20px;
	margin-left: 30px;
}  

.font-menu select {
	border: 1px solid #969494; /* Set the border color and style */
	padding: 8px; /* Add padding for better visual appearance */
	border-radius: 4px; /* Add border-radius for rounded corners, if desired */
	width: 200px; /* Set the width as needed */
}

.font-size-button {
	border-radius: 34px 34px 34px 34px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
	font-size: 20px ; /* Adjust the font size as needed */
	margin: 0 20px;   /* Adjust the margin as needed */
	padding: 3px 3px; /* Adjust the padding as needed */
}

button {
	cursor: pointer;
	padding: 8px 16px;
	font-size: 14px;
	background-color: #6d6c6c;
	color: #fff;
	border: none;
	border-radius: 4px;
	margin-right: 5px;
}

#subHeadings label{
	font-weight: bold;
	padding-top: 20px;
}

.language-menu {
	padding-bottom: 20px;
	margin-top: 125px;
	margin-left: 30%;
}

.language-menu select {
	border: 1px solid #969494; /* Set the border color and style */
	padding: 8px; /* Add padding for better visual appearance */
	border-radius: 4px; /* Add border-radius for rounded corners, if desired */
	width: 200px; /* Set the width as needed */
}

/* Description text for advanced page */
.description {
	font-size: .75em;
	font-weight: 100;
	text-align: left;
	text-wrap: balance;
	margin-top: -40px;
	padding-top: 10px;
}



/* Shows which page you are currently on 
.activeBox {
	width: 230px;
	height: 42px;
	padding: 8px 8px 8px 8px;
	background: #F3F3F3;
	border-radius: 8px 8px 8px 8px;
	font-weight: bolder;
}*/

/* Menu box 
.menuBox {
	width: 270px;
	height: 290px;
	padding: 8px 8px 8px 8px;
	background: white;
	border-radius: 16px 16px 16px 16px;
    margin-left: 20%;
    margin-top: 2%;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

/* Menu 
.settingsMenu {
	width: 221px;
	height: 274px;
	color: #202123;;
	font-weight: 500;
	font-size: 15px;
	line-height: 3;
	text-align: left;
    margin-left: 3%;
    float: inline-end;
    border-color: black;
	line-break: loose;
}*/
