.header {
    overflow: hidden;
  }
  
  .header-right {
    float: right;
  }
  
  /* Style the header links*/
  .header a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .header a.logo {
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Style the "active" element to highlight the current page*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .search-container {
    float: left;
  }
  
  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid black;
  }
  
  .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background: gray;
  }