@tailwind base;
@tailwind components;
@tailwind utilities;


/* navbar */
.nav {
    transition: all 0.6s ease;
    background-color: #141414;
    align-items: center;
    position:fixed;
    display: flex;
    flex-direction: column;
    min-width:12rem;
    max-width:12rem;
    height: 100%;
    z-index: 10000;
    padding: 0px 60px;
}

.nav .logo{
    width: 200px;
    transform: translate(0%, -15%);
}


.nav .NavLinks ul li {
    position: relative;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    list-style: none;
    transform: translate(0%, -100%);
}

.nav .NavLinks ul li a {
    position: relative;
    font-size: 100%;
    font-weight: bold;
    color: #D3D3D3;
    letter-spacing: 1.5px;
}


.nav .NavLinks ul li i{
    font-size: 200%;
    color: #D3D3D3;
}

.nav .NavLinks ul li a.active{
    color: rgba(149,162,241,255);
}

.nav .NavLinks ul li:hover a, .nav .NavLinks ul li:hover i{
    color: rgba(149,162,241,255);
    transition: all 0.3s ease;
}

.nav .bar{
    font-size: 50px;
    width: 9.9rem;
    background-color: #595959;
    max-height: 1px;
    margin-top: 3px;
    transform: translate(0%, -30px);
}

.footnav{
    transform: translate(5%, 315%);
}


.footnav .lownav ul li{
    font-size: 90%;
    position: relative;
    right: 40%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #a7a7a7;
    font-weight: bold;
    letter-spacing: 1px;
    list-style: none;
}

.footnav .lownav ul li:hover{
    color: white;
    transition: all 0.5s ease;
}

@media only screen and (min-height: 0px) and (max-height: 900px){
    .footnav{
        transform: translate(2%, 200%);
    }
    
    
    .footnav .lownav ul li{
        font-size: 90%;
        position: relative;
        right: 40%;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        color: #a7a7a7;
        font-weight: bold;
        letter-spacing: 1px;
        list-style: none;
    }

}

/* Formatting for the dropdown menu in settings */
.dropdown {

    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: none;
    border: none;
    color: #212529;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    color: #D3D3D3;
    letter-spacing: 1.5px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 50px;
    left: -6em;  
    border:none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: small;
  }
  
  .dropdown-menu li {
    padding: 8px 8px 8px 8px;
    
  }
  
  .dropdown-menu li a {
    text-decoration: none;
  }
  
  .dropdown-menu li a:hover {
    background-color: #5a5b5c;
  }
  
  