@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar */
.nav{
    transition: all 0.6s ease;
    background-color: #141414;
    align-items: center;
    position:fixed;
    display: flex;
    flex-direction: column;
    width:12rem;
    height: 100vh;
    z-index: 10000;
    padding: 0px 100px;
}

.nav .logo{
    width: 200px;
}

.nav .NavLinks ul{
    list-style: none;
}

.nav .NavLinks ul li{
    position: relative;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.nav .NavLinks ul li a{
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #D3D3D3;
    letter-spacing: 1px;
}


.nav .NavLinks ul li i{
    font-size: 20px;
    color: #D3D3D3;
}

.nav .NavLinks ul li:hover i, .nav .NavLinks ul li:hover a{
    color: greenyellow;
}


.nav .NavLinks ul li a:active{
    color: red;
}

.nav .bar span{
    color: red;
    font-size: 50px;
    width: 100px;

}

.nav.toggle-nav{
    position: fixed;
    background-color: transparent;
    border:transparent;
    top: 57em;
    left: .4em;
    z-index: 10000;
    cursor: pointer;
    width: fit-content;
}