@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar */
header nav {
    display: flex;
    gap: 16px;
    flex: end;
    margin: 0 auto;
}

header nav a{
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
}

header nav a.active {
    background: var(blue);
    font-style: italic;
}